
/* Header */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333333;
  padding: 20px;
  flex-wrap: wrap;
  background-color: #333333 ;

}

.navegation-items {
  display: flex;
  gap: 10px;
  font-size: 20px;
  flex-wrap: wrap;
}

#logo {
  display: flex;
  color: #feceab;
  font-size: 56px;
  align-items: center;
}

a {
  color: #feceab;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ff847c;
}

a:active {
  color: #feceab;
}

/* Body */

body {
  background-color: #fcf4d9;
}

.about-me-header {
  margin-top: 50px;
}

.about-me-header, .projects-header, .skills-header {
  margin-left: 50px;
  text-shadow: #ff847c;
  font-size: 20px;
}

#about-me {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-description, .skills-list {
  display: grid;
  gap: 1rem;
  align-items: center;
  max-width: 600px;
  font: 500 100%/1.5 system-ui;
}

.personal-img {
  max-width: 400px;
  max-height:400px;
  float: right;
  border-radius: 5px;
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  font: 500 100%/1.5 system-ui;
}

/*Skills*/

.skills-list {
  font: 500 100%/1.5 system-ui;
  margin-left: 100px;
  font: 500 100%/1.5 system-ui;
}

/*Contact */

#contact {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.contact-button {
  --c: #ff847c; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}
.contact-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.contact-button:active {
  box-shadow: 0 0 9e9q inset #333333; 
  background-color: var(--c);
  color: #fff;
}

/*Footer*/

footer {
  background-color: #333333;
  display:flex;
  justify-content: center;
  color:#feceab;
  padding: 5px;
}